# Core functionality - changes here should be rare!
/src/app.py                   @AdrianoAPaterlini
/src/backend/database.py      @AdrianoAPaterlini
/src/backend/routers/auth.py  @AdrianoAPaterlini

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AdrianoAPaterlini
